/*Entire site-------------------------------------------------------*/
* {
  font-family: Open Sans;
  color: #FFFFF0
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
  background-color: #22272A;
}
/*------------------------------------------------------------------*/

/*Text--------------------------------------------------------------*/
.smallText {
  font-size: small;
}

.largeText {
  font-size: large;
  font-weight: 1000;
}

.longText {
  font-size: small;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.grayText {
  padding-left: 20px;
  color: #a5a5a5
}
/*------------------------------------------------------------------*/

/*HTML elements-----------------------------------------------------*/
a {
  text-decoration: none;
  padding: 0px 10px 0px 10px;
}
a:not(.discussion):not(.post):not(.comment):not(.subscription):not(.userMessage):hover {
  padding: 0px 10px 0px 10px;
  background-color: #8C54F3;
  border-radius: 10px;
}

button {
  color: #FFFFF0;
  background-color: #22272A;
  border-radius: 30px;
  border: solid;
  height: 40px;
  border-color: #8C54F3;
  min-width: 130px;
}
button:hover {
  background-color: #8C54F3;
}

select {
  background-color: #22272A;
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
}
select:focus {
  outline: none;
  animation-name: inputFocus;
  animation-duration: 0.8s;
  border-color: #FFFFF0;
}

option {
  border-radius: 15px;
}

textarea {
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #22272A;
  min-height: 100px;
  margin: 5px;
  resize: vertical;
}
textarea:focus {
  outline:none;
  animation-name: inputFocus;
  animation-duration: 0.8s;
  border-color: #FFFFF0
}

input {
  border-style: solid;
  border-color: #8d8d8d;
  border-width: 2px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #22272A;
  margin: 5px
}
input:focus {
  outline:none;
  animation-name: inputFocus;
  animation-duration: 0.8s;
  border-color: #FFFFF0
}
input[type=text].search {
  padding-left: 30px;
}

nav {
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  position: sticky;
  top: 0%;

  width: 100%;
  height: 80px;
  background-color: #22272A;
  margin-top: -10px;
  border-style: solid;
  border-color: #111315;
  border-width: 6px;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  max-width: 420px;
  height: auto;
  border: solid 3px #8d8d8d;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

ul {
  align-self: flex-start;
  padding: 0px 70px 0px 70px;
}

li {
  padding-bottom: 5px;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  gap: 40px
}
/*------------------------------------------------------------------*/

/*Forms-------------------------------------------------------------*/
.formContainer {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

#discussionForm {
  width: 200%;
  padding: 0px 10px 10px 10px;
}

#postForm {
  width: 200%;
  padding: 0px 10px 10px 10px;
}

#credentialForm {
  width: 200%;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 20px;
}

.commentFormArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px
}
/*------------------------------------------------------------------*/

/*Reusable---------------------------------------------------------*/
#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.controlAmountButtons {
  display: flex;
  padding-top: 25px;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
  width: 100%;
}

.inputContainer {
  margin-left: -20px;
}

.filterOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;

  background-color: #2f3436;
  border: solid 4px #111315;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 0px 20px 20px 20px;
  width: 700px;
}
.post:not(.content):hover {
  border-color: #8C54F3;
}

.dividerVertical {
  width: 20px;
  height: 6em;
  margin-right: 20px;
  border-right: solid 3px #111315;
}

.dividerHorizontal {
  width: 80%;
  height: 20px;
  border-bottom: solid 3px #111315;
}

.activeButton:not(.material-icons) {
  background-color: #8C54F3;
}
.activeButton:not(.material-icons):hover {
  background-color: #ae83ff;
  border-color: #ae83ff;
}

.toggleButton {
  width: 200px
}

.noHover {
  pointer-events: none;
}

.nothingFound {
  padding-top: 30px
}

.closeToTop {
  padding-top: -10px;
  margin-top: -10px;
}
/*------------------------------------------------------------------*/
 
/*App.js------------------------------------------------------------*/
#main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1000px;
  min-height: 1000px;
  padding-bottom: 50px;

  border-right: solid 6px #111315;
  border-left: solid 6px #111315;
}

#userAlertBell {
  animation: userAlert 3s ease-out infinite;
  transform-origin: top;
  position: absolute;
  color: #f38c54;
  left: 405px;
}

#userAlertBubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f38c54;
  font-size: medium;
  font-weight: bold;
  position: absolute;
  left: 410px;
  top: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50px 50px 50px 5px;
}
/*------------------------------------------------------------------*/

/*LandingPage ------------------------------------------------------*/
.discussion {
  background-color: #2f3436;
  display: flex;
  flex-direction: column;
  border: solid 4px #111315;
  border-radius: 10px;
  padding: 0px 30px 10px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 700px;
  max-height: 150px;
}
.discussion:hover {
  border-color: #8C54F3;
}

.discussionSubContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -20px;
}

.pageTitle {
  padding-top: 20px;
  margin-bottom: -10px;
  align-self: center;
}
/*------------------------------------------------------------------*/

/*UserPage----------------------------------------------------------*/
#userInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 10px 0px;
  width: 90%;

  border-bottom: solid 5px #111315;
}

.userInfoSubcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#userDataSelection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 80%;
  padding: 25px 0px
}

#userPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#userComments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;

  background-color: #2f3436;
  border: solid 4px #111315;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 10px 20px 20px 20px;
  width: 700px;
}
.comment:hover {
  border-color: #8C54F3;
}

.subscription {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  background-color: #2f3436;
  border: solid 4px #111315;
  border-radius: 15px;
  margin: 10px 0px;
  padding: 0px 20px 0px 20px;
  width: 700px;
}
.subscription:hover {
  border-color: #8C54F3
}

.subscriptionSubContainer {
  padding-right: 15px;
}
/*------------------------------------------------------------------*/

/*Vote buttons------------------------------------------------------*/
.voteButtons {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
}

.like {
  display: flex;
  flex-direction: row;
}

.dislike {
  display: flex;
  flex-direction: row;
}
/*------------------------------------------------------------------*/

/*Modal-------------------------------------------------------------*/
.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.modalContent {
  animation: modalSlide 0.5s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #2f3436;
  width: 400px;
  height: auto;
  padding: 20px 20px 20px 20px;
  margin: 50px;
  border-radius: 20px;
}
/*------------------------------------------------------------------*/

/*discussionPage----------------------------------------------------*/
#discussionInfo {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: auto;
  padding: 20px 0px 40px 0px;
  margin-bottom: 40px;
  justify-content: space-around;
  border-bottom: solid 4px #111315;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 200px;
  max-width: 400px;
  padding-right: 40px;
  margin-right: 40px;
  border-right: solid 4px #111315;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%
}

#discussionPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*------------------------------------------------------------------*/

/*Post Page---------------------------------------------------------*/
#postInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 90%;
  padding: 10px 0px;
  margin-bottom: 20px;
  border-bottom: solid 4px #111315
}

#comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentText {
  margin-bottom: 10px;
}

.postIcons {
  display: flex;
  flex-direction: row;
}

.commentCountIcon {
  margin-top: 8px;
}
/*------------------------------------------------------------------*/

/*Message Page------------------------------------------------------*/
.messageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.userMessage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  width: 100%;

  background-color: #2f3436;
  border: solid 4px #111315;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 0px 20px;
}
.userMessage:hover {
  border-color: #8C54F3;
}
/*------------------------------------------------------------------*/

/*Material Icons ---------------------------------------------------*/
.material-icons {
  font-size: 23px;
  position: relative;
  color: #FFFFF0;
}

.material-icons.search {
  left: 35px;
  top: 7px;
}

.material-icons.vote {
  padding: 0px 6px;
  top: -2px;
}

.material-icons.member {
  top: 5px;
  right: 5px;
}

.material-icons.message {
  top: -2px;
  padding: 0px 6px;
}

.material-icons.activeButton {
  color: #8C54F3;
  cursor: pointer;
}
.material-icons.activeButton:hover {
  color: #ae83ff;
}

.material-icons.inactiveButton {
  cursor: pointer;
}
.material-icons.inactiveButton:hover {
  color:#8C54F3
}

.material-icons.close {
  align-self: flex-end;
}
.material-icons.close:hover {
  color: #8C54F3;
  cursor: pointer;
}

.material-icons.newMessage {
  position: relative;
  left: 10px;
  color: #f38c54;
  font-size: 35px;
}
.material-icons.newMessage:hover {
  cursor: default;
}
/*------------------------------------------------------------------*/

/*Animations--------------------------------------------------------*/
@keyframes inputFocus {
  from {border-color: #8d8d8d;}
  to {border-color: #FFFFF0;} 
}

@keyframes userAlert {
  0% { transform: rotate(0); }
  10% { transform: rotate(6deg); }
  20% { transform: rotate(-6deg); }
  30% { transform: rotate(4deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(2deg); }
  60% { transform: rotate(-2deg); }
  70% { transform: rotate(0deg); }
}

@keyframes modalSlide {
  from { top: -30%; }
  to { top: 0%; }
}
/*------------------------------------------------------------------*/